<!DOCTYPE html>
<html lang="en">
{{>head}}
<body>
    
   <ul>
    
    <li>{{usuario.name}}</li>
    <li>{{usuario.apellido}}</li>
    <li>{{usuario.correo}}</li>
    <li>{{usuario.direccion}}</li>

   </ul>

</body>
</html>